<a href="https://colab.research.google.com/github/lerlerchan/Practical-Discrete-Mathematics/blob/master/chapter1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [ ]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12]
['Brandon', 'Elise', 'Eugene', 'Kumar', 'Wyatt']

### The `shuffle()` function

In [ ]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9]
    random.shuffle(numbers)
    print(numbers)

[12, 2, 1, 5, 9, 3, 8, 4]
[4, 2, 8, 3, 1, 12, 5, 9]
[4, 5, 1, 9, 3, 8, 12, 2]
[9, 12, 2, 8, 5, 3, 4, 1]
[9, 8, 4, 3, 12, 1, 5, 2]

this code is about union

In [ ]:
# Creating two sets of numbers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Finding the union of the two sets
union_set = set1.union(set2)

# Printing the result
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

# **Questions1: randomly create 2 set of number, find the common numbers in the 2 sets **

In [ ]:
z

# Question2: shuffle the character in your name. For example: Apple Chan. After shuffle: eplepa nhac

# Question3:  extract a table from wikipedia https://en.wikipedia.org/wiki/Frieren

# Question 4: let user input the name. Example
Name: Mikasa
Hi Mikasa

In [ ]:
# This code will prompt the user to enter their name and then greet them

# Taking user input
user_name = input("Enter your name: ")

# Displaying the greeting message
print(f"Hello, {user_name}! Welcome to Google Colab.")