# Chapter 1 - Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions

This notebook contains code accompanying Chapter 1 Introduction: Key Concepts, Notation, Set Theory, Relations, and Functions in *Practical Discrete Mathematics* by Ryan T. White and Archana Tikayat Ray

## Functions and Relations

### The `sort()` function

In [2]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 22, 34, 56]
names = ['Wyatt', 'Brandon', 'Kumar', 'Eugene', 'Elise', 'Chan', 'Lee']

# Apply the sort() function to the lists
numbers.sort()
names.sort()

# Display the output
print(numbers)
print(names)

[1, 2, 3, 4, 5, 8, 9, 12, 22, 34, 56]
['Brandon', 'Chan', 'Elise', 'Eugene', 'Kumar', 'Lee', 'Wyatt']

### The `shuffle()` function

In [8]:
import random

# Set a random seed so the code is reproducible
random.seed(1)

# Run the random.shuffle() function 5 times and display the outputs
for i in range(0,5):
    numbers = [3, 1, 4, 12, 8, 5, 2, 9, 22, 45, 67, 89, 100]
    random.shuffle(numbers)
    print(numbers)

[22, 100, 3, 89, 5, 12, 2, 9, 67, 8, 1, 45, 4]
[45, 12, 8, 22, 1, 5, 4, 100, 89, 67, 2, 3, 9]
[9, 8, 4, 45, 12, 1, 5, 2, 89, 22, 67, 100, 3]
[4, 3, 8, 45, 2, 67, 1, 5, 12, 22, 89, 9, 100]
[45, 100, 9, 12, 89, 5, 3, 8, 4, 1, 67, 22, 2]

# Q1 Sort the numbers in decending order for the following code

In [9]:
numbers = [3, 1, 4, 12, 8, 5, 2, 9, 22, 34, 56]


# Apply the sort() function to the lists
numbers.sort()

# Display the output
print(numbers)

[1, 2, 3, 4, 5, 8, 9, 12, 22, 34, 56]

# Q2 Write a python code that count the number of character in your English Full name